{% extends 'base.html.twig' %}

{% block title %}La boutique française{% endblock %}

{% block content %}
<h1>
Bienvenue {{(app.user.firstname)}}.
</h1>
<p>
Dans cet espace vous êtes le goat.
</p>
<hr>
- <a href="{{path('app_account_password')}}">Modifier mon mot de passe</a><br>
- <a href="{{path('app_account_address')}}">Gérer mes adresses</a><br>
- <a href="{{path('app_order')}}">Mon panier</a><br>
-mes commandes<br>
<hr>
{% endblock %}
