{% extends 'base.html.twig' %}

{% block title %}Mot de passe | La boutique française{% endblock %}

{% block content %}
<h1>
Modifier votre mot de passe
</h1>
- <a href="{{path('app_account')}}">Retourner à votre compte</a><br>
<hr>
{{form(form)}}
<hr>
{% endblock %}
